absl-py==1.3.0
aiohttp==3.8.3
aiosignal==1.3.1
asttokens==2.1.0
async-timeout==4.0.2
attrs==22.1.0
backcall==0.2.0
beautifulsoup4==4.11.1
bert-score==0.3.12
blis==0.7.9
cachetools==5.2.0
catalogue==1.0.2
certifi==2022.9.24
charset-normalizer==2.1.1
click==8.1.3
contourpy==1.0.6
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
datasets==1.6.2
decorator==5.1.1
dill==0.3.6
executing==1.2.0
filelock==3.8.0
files2rouge==2.1.0
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2022.11.0
future==0.18.2
gdown==4.5.3
google-auth==2.14.1
google-auth-oauthlib==0.4.6
grpcio==1.50.0
huggingface-hub==0.0.19
idna==3.4
imageio==2.22.4
importlib-metadata==5.0.0
ipython==8.6.0
ipython-autotime==0.3.1
jedi==0.18.1
joblib==1.2.0
kiwisolver==1.4.4
longformer @ git+https://github.com/allenai/longformer.git@caefee668e39cacdece7dd603a0bebf24df6d8ca
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
more-itertools==9.0.0
multidict==6.0.2
multiprocess==0.70.14
murmurhash==1.0.9
nlp==0.4.0
nltk==3.6.1
numpy==1.23.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
packaging==21.3
pandas==1.5.1
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pkg_resources==0.0.0
plac==1.1.3
preshed==3.0.8
prompt-toolkit==3.0.32
protobuf==3.20.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==10.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyDeprecate==0.3.0
Pygments==2.13.0
pyparsing==3.0.9
pyrouge @ git+https://github.com/pltrdy/pyrouge@dfdff03cff1b69bfb18d42dadfb79c79f1caaa18
PySocks==1.7.1
python-dateutil==2.8.2
pytorch-lightning==1.3.5
pytz==2022.6
PyYAML==5.4.1
regex==2022.10.31
requests==2.28.1
requests-oauthlib==1.3.1
rouge==1.0.1
rouge-score==0.1.2
rsa==4.9
sacremoses==0.0.53
sentencepiece==0.1.97
six==1.16.0
soupsieve==2.3.2.post1
spacy==2.3.3
srsly==1.0.6
stack-data==0.6.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorboardX==2.5.1
test-tube==0.7.5
thinc==7.4.6
tokenizers==0.8.1rc2
torch==1.13.0
torchmetrics==0.5.0
tqdm==4.49.0
traitlets==5.5.0
transformers @ git+http://github.com/ibeltagy/transformers.git@52d6236dc15ad5142b4146ff74d2ec973fa3da22
typing_extensions==4.4.0
urllib3==1.26.12
wasabi==0.10.1
wcwidth==0.2.5
Werkzeug==2.2.2
xxhash==3.1.0
yarl==1.8.1
zipp==3.10.0
